@model BISystem.ORM.Db_Type

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Db_Type</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.version)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.version)
            @Html.ValidationMessageFor(model => model.version)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
