@model BISystem.ORM.AccessRequest

@{
    ViewBag.Title = "Create";
}

<h2>Create a request for a new user</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AccessRequest</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.for_user_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.for_user_name)
            @Html.ValidationMessageFor(model => model.for_user_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.for_surname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.for_surname)
            @Html.ValidationMessageFor(model => model.for_surname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.for_email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.for_email)
            @Html.ValidationMessageFor(model => model.for_email)
        </div>

        
        <div>            
            <label for="message">Request Message - if case plase paste in approval from your manager</label>
        </div>
         <div>
                         
            <textarea cols="100" id="message" name="message" rows="14" style="font-size:15px"></textarea>
            <span class="field-validation-valid" data-valmsg-for="message" data-valmsg-replace="true"></span>
        </div>

        @* Hidden values: *@
        @if(Request.IsAuthenticated)
        {
            <div>
                <input data-val="true" id="requestor_id" name="requsestor_id" type="hidden" value="@((int)Membership.GetUser().ProviderUserKey)" />
                <span class="field-validation-valid" data-valmsg-for="requestor_id" data-valmsg-replace="true"></span>
            </div>
        }
                
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
