@model IEnumerable<BISystem.ORM.AccessRequest>

@{
    ViewBag.Title = "Index";
}

<h2>Pending System Access Requests</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.for_user_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.for_surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.for_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.requestor_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.resolved)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.for_user_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.for_surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.for_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.requestor_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.resolved)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.request_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.request_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.request_id })
        </td>
    </tr>
}

</table>
